@page
@model Example2Model

<div class="text-center">
    <div class="users">
        @foreach (var user in Model.Users)
        {
            <div class="user">
                @user.Name (@user.Created.ToLongDateString())
            </div>
        }
    </div>

    <div class="mt-3" style="text-align: center">
        (@Model.Count items)
    </div>

    <div class="pagination mt-3">
        <a asp-page="/Example2" asp-route-first="@true" disabled="@(!Model.HasPrevious ? "disabled" : null)">First</a>
        <a asp-page="/Example2" asp-route-before="@Model.Users.First().Id" disabled="@(!Model.HasPrevious ? "disabled" : null)">Previous</a>
        <a asp-page="/Example2" asp-route-after="@Model.Users.Last().Id" disabled="@(!Model.HasNext ? "disabled" : null)">Next</a>
        <a asp-page="/Example2" asp-route-last="@true" disabled="@(!Model.HasNext ? "disabled" : null)">Last</a>
    </div>
</div>
